body {
  line-height: 24px;
  letter-spacing: 0.25px;
  margin: 0;
}

.tabs {
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 2;
  padding: 75px 0 48px;
}

main {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.h2 {
  width: 100%;
  font-family: "Raleway";
  font-size: 25px;
  line-height: 120%;
  font-weight: 400;
  margin: 20px 0px 10px 0px;
}

.wrapper {
  display: flex;
}

.fixed-left {
  position: sticky;
  top: 0;
  width: 50%;
  height: 100vh;
  font-weight: 400;
}

.inner {
  padding: 50px;
}

.page-title {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: "Raleway";
  letter-spacing: 2.6px;
}

.tan .scrolling-right {
  border-color: #516548;
}

.scrolling-right {
  height: 100%;
  position: relative;
  width: 50%;
  padding: 0;
  border-left: 1px solid;
  border-color: #fff;
  font-weight: 300;
}
.scrolling-right .content {
  width: 100%;
  height: 100%;
  padding: 0 40px;
}
.scrolling-right .text {
  max-width: 600px;
  margin-top: 104px;
  margin-right: 0;
}
.scrolling-right p {
  width: 100%;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 24px;
}
.blue {
  background: #7fafc5;
  color: #303540;
}

.tan {
  background: #f3f7e9;
  color: #516548;
}

.green {
  background: #516548;
  color: #f3f7e9;
}

.button-two {
  left: 33.3%;
}

.button-three {
  right: 0;
}

.button {
  position: absolute;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 33.3%;
  top: -48px;
  background: inherit;
}
.button span {
  font-family: "Open Sans";
}
@media only screen and (min-width: 768px) {
  .in-view {
    transform: translateX(-100%) !important;
  }

  .tab {
    transition: transform 1s ease 0.1s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
  }

  main {
    padding: 0px 24px 24px 24px;
    margin: 0px 80px 40px 40px;
  }

  .tab-one {
    transform: translateX(-100%);
    width: 100vw;
  }

  .tab-two {
    transform: translateX(-80px);
    width: calc(100vw - 40px);
  }

  .tab-three {
    transform: translateX(-40px);
    width: calc(100vw - 80px);
  }

  .overlay {
    height: 100%;
  }
  .button {
    height: 100%;
    width: 40px;
    font-size: 18px;
    top: 0;
    left: 0;
  }
  .button span {
    transform: rotate(90deg);
    white-space: nowrap;
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .scrolling-right {
    position: absolute;
    overflow-y: auto;
    left: 50%;
    width: calc(50% - 80px);
  }
}
@media only screen and (max-width: 767px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    overflow: auto;
    transform: none;
    background: inherit;
  }

  .slide {
    transform: translateY(100%);
    transition: transform 0.6s ease;
  }

  .in-view .slide {
    transform: none;
    transition: transform 0.6s ease;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }

  .fixed-left {
    position: static;
    display: flex;
    height: auto;
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
  }

  .inner {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-box {
    position: static;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 40px;
    max-width: 100%;
  }

  .scrolling-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    border-top: 1px solid;
    border-left: none;
    border-color: #fff;
  }
  .scrolling-right .text {
    max-width: none;
    margin-top: 48px;
  }

  .h2 {
    font-size: 21px;
  }
}
