body {
  line-height: 24px;
  letter-spacing: 0.25px;
  margin: 0;
}

.button-one {
  left: 0;
  width: 33.3%;
  top: -48px;
}

.button-two {
  left: 33.3%;
  width: 33.3%;
  top: -48px;
}

.button-three {
  top: -48px;
  width: 33.4%;
  right: 0;
}

.tab-button {
  position: absolute;
  height: 48px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 3;
  font-family: 'Open Sans'
}

.tab-content {
  margin: 40px;
  padding: 24px;
  margin-right: 80px;
  margin-top: 0px;
  padding-top: 0px;
}

@media only screen and (min-width: 768px) {
  .tab-two-in-view {
    transform: translateX(-100%) !important;
  }
  .tab-three-in-view {
    transform: translateX(-100%) !important;
  }
  .tab {
    transition: transform 1s ease .1s;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .tab-two {
    transform: translateX(-80px);
    left: 100%;
    background-color: #322F7C;
    left: 100%;
    width: calc(100vw - 40px);
  }
  .tab-three {
    transform: translateX(-40px);
    left: 100%;
    background-color: #322F7C;
    left: 100%;
    width: calc(100vw - 80px);
  }
   .tab-one {
    transform: translateX(-100%);
    left: 100%;
    width: 100vw;
  }
  .tab-button {
    height: 100%;
    width: 40px;
    font-size: 18px;
    top: 0;
    left: 0;
  }
  .tab-button span {
    transform: rotate(90deg);
    white-space: nowrap;
    font-size: 24px;
    font-family: 'Open Sans';
  }
  .overlay{
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
	.tabs {
		position: fixed;
		top: 100%;
		width: 100%;
		z-index: 2;
		padding: 75px 0 48px
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
    bottom: 0;
    width: 100vw;
    overflow: auto;
		-webkit-overflow-scrolling: touch;
		-webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .6s ease;
		transition: -webkit-transform .6s ease;
		transition: transform .6s ease;
		transition: transform .6s ease, -webkit-transform .6s ease
	}
	.overlay-one {
		-webkit-transform: none;
    transform: none;
	}
	.overlay-two {
		-webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .6s ease;
		transition: -webkit-transform .6s ease;
		transition: transform .6s ease;
		transition: transform .6s ease, -webkit-transform .6s ease;
  }
  .overlay-three {
		-webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform .6s ease;
		transition: -webkit-transform .6s ease;
		transition: transform .6s ease;
		transition: transform .6s ease, -webkit-transform .6s ease;
    background: #516548;
    color: white;
	}
  .tab-two-in-view .overlay-two {
		-webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform .6s ease;
		transition: -webkit-transform .6s ease;
		transition: transform .6s ease;
		transition: transform .6s ease, -webkit-transform .6s ease
  }
  .tab-three-in-view .overlay-three {
		-webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform .6s ease;
		transition: -webkit-transform .6s ease;
		transition: transform .6s ease;
		transition: transform .6s ease, -webkit-transform .6s ease
  }
  .tab-content {
    margin: 0px;
    padding: 0px;
  }
  .tab-button {
    font-family: 'Open Sans'
  }
}
