* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.todmorden {
  background-color: #516548;
  color: white;
}

.preston {
  color: #516548;
  background-color: #f3f7e9;
}

.huddersfield {
  background: #7fafc5;
  color: #303540;
}

.h2 {
  width: 100%;
  margin-bottom: 25px;
  font-family: 'Raleway';
  font-size: 25px;
  line-height: 120%;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tab-wrapper { display: flex }

.fixed-left {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 50%;
  height: 100vh;
  font-weight: 400;
}

.inner { padding: 50px; }

.page-title {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: 'Raleway';
  letter-spacing: 2.6px;
}

.scrolling-right {
  height: 100%;
  position: relative;
  width: 50%;
  padding: 0;
  border-left: 1px solid;
  border-color: #fff;
  font-weight: 300;
}
.preston .scrolling-right { border-color: #516548 }

.scrolling-content {
  width: 100%;
  height: 100%;
  padding: 0 40px;
}

.scrolling-text {
  max-width: 600px;
  margin-top: 104px;
  margin-right: 0;
}

.scrolling-p {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 24px;
}

@media screen and (min-width:768px) {
  .scrolling-right {
    position: absolute;
    overflow-y: auto;
    left: 50%;
    width: calc(50% - 80px);
  }
}

@media screen and (max-width:767px) {
  .tab-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .fixed-left {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding: 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
  }
  .inner {
    display: flex;
    padding: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .text-box {
    position: static;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 40px;
  }
  .scrolling-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .h2 {
    font-size: 21px;
  }
  .text-box { max-width: 100% }
  .scrolling-text {
    max-width: none;
    margin-top: 48px;
  }
  .scrolling-right {
    width: 100%;
    border-top: 1px solid;;
    border-left: none;
    border-color: #fff
  }
}